<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/user-list.css">
</head>

<body>

    <div class="table-container">
        <div>
            <h2 class="title">Users list table</h2>
            <div><button onclick="window.location.href='/V1/'">Add new user</button></div>
        </div>
        <%= JSON.stringify(users) %>
            <%= users[0]['name'] %>
                <table>
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Action</th>
                    </tr>
                    <% users.forEach((user)=> { %>
                        <tr>
                            <td>
                                <%= user.id %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                            <td>
                                <%= user.name %>
                            </td>
                            <td>
                                <%= user.city %>
                            </td>
                            <td>
                                <button onclick="window.location.href='/V1/update/<%= user.id %>'">Edit</button>
                                <button onclick="window.location.href='/V1/delete/<%= user.id %>'">Delete</button>
                            </td>
                        </tr>
                        <% }) %>
                            <!-- <% for (let i=0; i < users.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= users[i].id %>
                                    </td>
                                    <td>
                                        <%= users[i].email %>
                                    </td>
                                    <td>
                                        <%= users[i].name %>
                                    </td>
                                    <td>
                                        <%= users[i].city %>
                                    </td>
                                    <td>
                                        <button>Edit</button>
                                        <button>Delete</button>
                                    </td>
                                </tr>
                                <% } %> -->

                </table>
    </div>
</body>